<div class="container" [@panelState]='panelState'>
    <div class="state-toggle" (click)="toggleState()">
      <div class="arrow">
        <div class="up" *ngIf="panelState === 'inactive'">
          <mat-icon class="md-32">keyboard_arrow_up</mat-icon>
        </div>
        <div class="down" *ngIf="panelState === 'active'">
          <mat-icon class="md-32">keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </div>

    <div class="content-container">
      
      <div class="tabs">

        <h3 class="tab" *ngIf="metadataService.metadata$.value != null" (click)="selected='metadata'">Metadata</h3>

        <h3 class="tab" *ngIf="stationService.stationsJson$.value != null && stationService.stationsJson$.value?.features?.length > 0" (click)="selected='stations'">Station List</h3>

        <h3 class="tab" (click)="selected='uncertainty'">Uncertainty</h3>

      </div>

      <div class="exit" *ngIf="selected">
        <mat-icon (click)="selected=null">close</mat-icon>
      </div>

      <div class="data-container">
        <shakemap-metadata [hidden]="selected!='metadata'"></shakemap-metadata>
        <shakemap-station-list [hidden]="selected!='stations'"></shakemap-station-list>

        <app-uncertainty [hidden]="selected!='uncertainty'"></app-uncertainty>
      </div>

    </div>
</div>
