<div class="container" [@panelState]='panelState'>
    <div class="state-toggle" (click)="toggleState()">
      <div class="arrow">
        <div class="up" *ngIf="panelState === 'inactive'">
          <mat-icon class="md-32">keyboard_arrow_up</mat-icon>
        </div>
        <div class="down" *ngIf="panelState === 'active'">
          <mat-icon class="md-32">keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </div>

    <div class="content-container">
      <div class="tabs">
        <h3 class="tab" *ngIf="infoService.hasData" (click)="selected='metadata'">Metadata</h3>
        <h3 class="tab" *ngIf="stationService.stations.value != null && stationService.stations.value?.features?.length > 0" (click)="selected='stations'">Station List</h3>
      </div>

      <div class="exit" *ngIf="selected" (click)="selected=null">
        <mat-icon>close</mat-icon>
      </div>

      <div class="data-container">
        <shakemap-view-info *ngIf="selected==='metadata'"></shakemap-view-info>
        <shakemap-station-list [hidden]="selected!='stations'"></shakemap-station-list>
      </div>
    </div>
</div>
