.container {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    z-index: 1000;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    max-height: 500px;
}

.container.show {
    transform: translateY(0);
}

.state-toggle {
    position: absolute;
    top: 0;
    transform: translateY(-100%) translateX(-50%);
    height: 45px;
    width: 45px;
    left: 50%;
    background-color: #0000ff
}