<div class="container">
  <div class="control" 
        [ngClass]="{'collapsed': controlCollapsed}" 
        (dblclick)="$event.stopPropagation();">

    <div class="collapsed-control" *ngIf="controlCollapsed" (click)="controlCollapsed=false">
      Control Collapsed
    </div>

    <div class="open" *ngIf="!controlCollapsed">
      <div class="close">
        <i class="fa fa-times" (click)="controlCollapsed=true"></i>
      </div>

      <div class="items">
        <p *ngFor="let item of control" 
            (click)="toggleLayer(item);"
            class="layer-item">
          <input type="checkbox" [checked]="plotting.indexOf(item.id) > -1">
          {{ item.name }}
        </p>
      </div>
    </div>

  </div>

  <div class="legend control" 
          [ngClass]="{'collapsed': legendCollapsed || !allowLegend}" 
          (dblclick)="$event.stopPropagation();">

    <div class="collapsed-control" *ngIf="legendCollapsed || !allowLegend" (click)="legendCollapsed=false">
      Legend Collapsed
    </div>
    <div class="open" *ngIf="!legendCollapsed && allowLegend">
      <div class="close">
        <i class="fa fa-times" (click)="legendCollapsed=true"></i>
      </div>

      <div class="items">
        <div class="image" *ngFor="let image of objKeys(legend)">
          <img *ngIf="legend[image].count>0" class="legend-image" src="{{ legend[image].url }}">
        </div>
      </div>
    </div>
  </div>
</div>
