.container {
    text-align: left;
}

.column {
    position: relative;
    display: inline-block;
    width: 48%;
}

table{
    border-collapse: collapse;
    border: 1px solid #ddd;
}

table td,th {
    border: 1px solid #ddd;
    padding: .666em .75em;
}


th {
    background-color: rgba(0,0,0,.04);
}